@use '../../styles/App.scss' as *;

.nav-container {
  border-bottom: 1px solid hsl(0deg, 0, 80%);
  margin: 0rem 0.25rem 1.5rem;

  .content {
    @apply flex_space-between_center;
    margin: 1rem 0.75rem;
    user-select: none;
  }

  h1.curr-page-title {
    font-size: 1.85rem;
    line-height: 1.75rem;
    @apply font-bold;
  }

  .links {
    @apply flex;
    gap: 1rem;
    font-size: 1.3rem;
  }

  .links :not(.curr-page):hover {
    filter: opacity(0.87);
  }

  .curr-page {
    filter: opacity(0.87);
    text-decoration: underline;
  }

}
