@use '../../styles/App.scss' as *;

// COMMT: Go to client/src/styles/App.scss to see more sass codes...

.chat-container {
  margin-top: 20px;

  .checkbox-text {
    margin: 0 1rem 1rem 1rem;
    @apply flex_left_center;
    gap: 1rem;
  }

  input[type="checkbox"] {
    height: 1.3rem;
    width: 1.3rem;
    cursor: pointer;
    outline: none;
  }

  span.checkbox-text {
    user-select: none;
  }

  .chatbox-container {
    // COMMT: using direct function w/ dynamic params
    // @include use-flex('flex_left_start');

    // COMMT: using tailwind @apply on sass loop + mixin;
    @apply flex_space-between_start; // tailwind + sass
    flex-direction: column; // raw css

    @apply mx-4;
    height: 80vh;
    max-height: 34rem;
    width: $chat-width;
    max-width: $chat-max-width;
    @apply border border-sky-800;
  }

}
