@use '../../styles/App.scss' as *;

.chat-chart-container {
  @apply flex_space-between_center;
}

.chat-container {
  // COMMT: using direct function w/ dynamic params
  // @include use-flex('flex_left_start');

  // COMMT: using tailwind @apply on sass loop + mixin;
  @apply flex_space-between_start; // tailwind + sass

  @apply mx-4;
  flex-direction: column; // raw css
  // height: 100vh;
  height: 80vh;
  max-height: 34rem;
  width: $chat-width;
  max-width: $chat-max-width;
  @apply border border-sky-800;
}

.chart-container {
  height: 80vh;
  width: $chat-width;
  @apply border border-amber-600;
}

input[type="checkbox"] {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
  outline: none;
}

.checkbox-text span {
  user-select: none;
}
