@use '../../styles/App.scss' as *;

.chat-container {
  // COMMT: using direct function w/ dynamic params
  // @include use-flex('flex_left_start');

  // COMMT: using tailwind @apply on sass loop + mixin;
  @apply flex_space-between_start; // tailwind + sass

  @apply mx-4;
  flex-direction: column; // raw css
  // height: 100vh;
  height: 80vh;
  max-height: 34rem;
  width: $chat-width;
  max-width: $chat-max-width;
  @apply border border-sky-800;
}
