@use '../../styles/App.scss' as *;

.messages-input-container {
  // COMMT: using direct function w/ dynamic params
  // @include use-flex('flex_left_start');

  // COMMT: using tailwind @apply on sass loop + mixin;
  @apply flex_space-between_start;

  flex-direction: column;
  // height: 100vh;
  height: 34rem;
  width: 17rem;

}
