.message-container {
  @apply m-2;
}

@mixin text {
  @apply py-2 px-4;
  word-wrap: break-word;
  @apply rounded-md;
  @apply text-slate-100 ;
}

.from-admin {
  @include text; // sass
  text-align: center; // raw css
  @apply text-slate-100 bg-gray-500; // tailwind
}

.from-self {
  @include text;
  @apply ml-16;
  background-color: hsl(207, 96%, 29%);
}

.from-others{
  @include text;
  @apply mr-16;
  background-color: hsl(328, 55%, 42%);
}
