@use '../../styles/App.scss' as *;

@mixin input-btn {
  @apply p-2;
}

.input-btn-container {
  @apply flex_space-between_center;
  padding: 0 2px;
  width: $chat-width;
  max-width: $chat-max-width;

  input,
  textarea
  {
    @include input-btn;
    resize: none;
    width: 60vw;
    max-width: $chat-max-width;
    background-color: hsl(0deg 0% 25%);
  }

  input:hover,
  input:focus,
  textarea:hover,
  textarea:focus
  {
    outline: none;
  }

  button {
    @include input-btn;
    @apply border border-black;
    @apply cursor-pointer select-none;
    height: 5.65rem;
    width: 4rem;
    background-color: hsl(0deg 0% 25%);
  }

  button:hover,
  button:focus
  {
    outline: none;
  }

}
