@use '../../styles/App.scss' as *;

@mixin input-btn {
  @apply p-2;
}

.input-btn-container {
  @apply flex_space-between_center;
  // @apply p-2;
  // width: 100%;
  width: $chat-width;
  max-width: $chat-max-width;

  input {
    @include input-btn;
    background-color: hsl(0deg 0% 25%);
    width: 60vw;
    max-width: $chat-max-width;
  }

  input:hover,
  input:focus
  {
    outline: none;
  }

  button {
    @include input-btn;
    @apply border border-black;
    @apply cursor-pointer select-none;
    width: 100%;
    background-color: hsl(0deg 0% 25%);
  }

  button:hover,
  button:focus
  {
    outline: none;
  }

}
