@use '../../styles/App.scss' as *;

.keyboard  {
  @apply flex_space-between_center;
  flex-wrap: wrap;
  padding: 0 2px;
}


.key {
  flex-grow: 1;
  width: 1.27rem;
  border: 1px solid black;
  padding: 4px 0px;
  text-align: center;
  @apply cursor-pointer select-none;
}

.line-break {
  width: 100%;
}
