@use 'variables.scss' as *;
@use 'maps.scss' as *;

@forward 'variables.scss';
@forward 'maps.scss';

body {
  height: 100%;
  color: hsl(0deg 0% 90%);
  background-color: hsl(0deg 0% 10%);
}

h1 {
  color: $color;
}

button,
.button
{
  @apply p-2;
  @apply border border-black;
  position: relative;
  max-width: 4rem;
  background-color: hsl(0deg 0% 25%);
  z-index: 5;
  @apply cursor-pointer select-none;
  transition: all 0.20s ease-in;
}

button:hover,
button:focus,
.button:hover,
.button:focus
{
  opacity: 0.9;
  outline: none;
}


/*
 * ### Ripple ###
*/

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    // width: 150px;
    // height: 150px;
    width: 120%;
    height: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    // width: 150px;
    // height: 150px;
    width: 120%;
    height: 100%;
    opacity: 0;
  }
}

.ripple:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: currentColor;
  visibility: hidden;
  z-index: 1;
}
.ripple:not(:active):before {
  -webkit-animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
          animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
  transition: visibility 0.4s step-end;
}
.ripple:active:before {
  visibility: visible;
}

/*
 * ### Flex Box ###
*/

// COMMT: To be used with @mixin use-flex
@function get-flex($str) {
  $str-part-1: '';
  $str-part-2: '';
  $str-part-3: '';

  $idx: str-index($str, '_');

  @while $idx != null {

    $str-part-1: str-slice($str, 1, $idx - 1);
    $new-str: str-slice($str, $idx+1, str-length($str));
    $new-idx: str-index($new-str, '_');

    $str-part-2: str-slice($new-str, 1, $new-idx - 1);
    $str-part-3: str-slice($new-str, $new-idx + 1, str-length($new-str));

    @return $str-part-1, $str-part-2, $str-part-3;
  }
  @return ($str-part-1, $str-part-2, $str-part-3);
}

// COMMT: To be used directly on .scss with @include or via @each loop
@mixin use-flex($str) {
  $curr-flex-list: get-flex($str);
  display: #{nth($curr-flex-list, 1)};
  justify-content: #{nth($curr-flex-list, 2)};
  $item: nth($curr-flex-list, 3);
  @debug "$item: #{$item}";
  @if $item == center {
    align-items: #{$item};
  } @else {
    align-items: flex-#{$item};
  }
}

// COMMT:
// loop through flex-key-map
// use @mixin get-flex() on each key, with key as str param
// output them as css class
// use them in style class with tailwind @apply OR directly on .tsx classNames

@each $str in $flex-key-map {

  .#{$str} {
    @include use-flex($str);
  }

}
